  section:first-of-type img {
    cursor: pointer;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .modal-content {
    aspect-ratio: 16 / 9;
    background-color: rgba(0,0,0,0.4);
    margin: 5% auto;
    padding: 10px;
    max-width: 80vw;
    max-height: 70vh;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
    animation: fadeIn 0.3s ease-out;
  }

  #hero-video {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1080px;
  }
