name: Validation

on:
  push:
    branches-ignore:
    - release-v**
    - rc-v**
    - beta-v**
    - alpha-v**
    - dev-v**

concurrency: 
  group: ${{ github.ref_name }}-validation
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  validation:
    if: ${{ ! contains(github.event.head_commit.message, '+PV') }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v4
    - uses: snickerbockers/submodules-init@v4
    - name: Login to registry
      uses: docker/login-action@v3
      with:
        registry: ${{ vars.REGISTRY }}
        username: ${{ vars.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_TOKEN }}
    - run: make validate
      
